[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/portable-file-dialogs"]
	path = thirdparty/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "thirdparty/ImGuizmo"]
	path = thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot.git
