name: Publish

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }} ${{ matrix.arch }} ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux x86_64
          - os: ubuntu-latest
            python: cp310
            arch: x86_64
          - os: ubuntu-latest
            python: cp311
            arch: x86_64
          - os: ubuntu-latest
            python: cp312
            arch: x86_64
          - os: ubuntu-latest
            python: cp313
            arch: x86_64
          # Linux aarch64
          - os: ubuntu-latest
            python: cp310
            arch: aarch64
          - os: ubuntu-latest
            python: cp311
            arch: aarch64
          - os: ubuntu-latest
            python: cp312
            arch: aarch64
          - os: ubuntu-latest
            python: cp313
            arch: aarch64
          # Windows
          - os: windows-latest
            python: cp310
            arch: AMD64
          - os: windows-latest
            python: cp311
            arch: AMD64
          - os: windows-latest
            python: cp312
            arch: AMD64
          - os: windows-latest
            python: cp313
            arch: AMD64

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Docker login
        continue-on-error: true
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        if: matrix.arch == 'aarch64'
        uses: docker/setup-qemu-action@v3

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        env:
          CIBW_BUILD: ${{ matrix.python }}-*
          CIBW_ARCHS: ${{ matrix.arch }}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.python }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  publish:
    name: Publish to PyPI
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
